<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>SAF-T</strong> file loader
        </div>
        <div class="card-body">
          <form action="" method="" enctype="" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="fileToUpload">Choose SAF-T file to load</label>
              <div class="col-md-9">
                <input type="file" id="fileToUpload" name="fileToUpload" (change)="onFileSelected($event)" accept=".xml">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"(click)="onUpload()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
