<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Invoices List
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Search</span>
            </div>
            <input id="search-box" type="text" class="form-control" placeholder="Invoice No.">
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Invoice No.</th>
                <th>Date</th>
                <th>Net Total</th>
                <th>Tax Payable</th>
                <th>Gross Total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody ng-show="invoices.length">
              <tr *ngFor="let invoice of invoices">
                <td>{{invoice.id}}</td>
                <td>{{invoice.InvoiceNo}}</td>
                <td>{{invoice.InvoiceDate}}</td>
                <td>{{invoice.NetTotal}}</td>
                <td>{{invoice.TaxPayable}}</td>
                <td>{{invoice.GrossTotal}}</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <pre class="card card-body card-header mb-3 text-center">Page: {{currentPage}}/{{totalPages}}    Items: {{totalList}}</pre>
          <div class="row justify-content-md-center">
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="loadPrev()">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#" (click)="doNothing()">{{currentPage}}</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="loadNext()">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>