<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Products List
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Search</span>
            </div>
            <input id="search-box" type="text" class="form-control" placeholder="Product Description">
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Code</th>
                <th>Group</th>
                <th>Description</th>
                <th>Number Code</th>
                <th>Customs Details</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody [hidden]="!products?.length">
              <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.ProductType}}</td>
                <td>{{product.ProductCode}}</td>
                <td>{{product.ProductGroup}}</td>
                <td>{{product.ProductDescription}}</td>
                <td>{{product.ProductNumberCode}}</td>
                <td>{{product.CustomsDetails}}</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <pre class="card card-body card-header mb-3 text-center">Page: {{currentPage}}/{{totalPages}}    Items: {{totalProducts}}</pre>
          <div class="row justify-content-md-center">
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="loadPrev()">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#" (click)="doNothing()">{{currentPage}}</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="loadNext()">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>