<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Insert Products
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Search</span>
            </div>
            <input id="search-box-pdescription" type="text" class="form-control" placeholder="Product Description">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-barcode"></i></span>
            </div>
            <input id="search-box-pcode" type="text" class="form-control" placeholder="Product Code">
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Add to Cart</th>
              </tr>
            </thead>
            <tbody [hidden]="!products?.length">
              <tr *ngFor="let product of products; index as i">
                <td>{{product.ProductCode}}</td>
                <td>{{product.ProductDescription}}</td>
                <td>
                  <button type="button" class="btn btn-pill btn-block btn-success active" aria-pressed="true" (click)="addProductToCart(i)">+</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pre class="card card-body card-header mb-3 text-center">Page: {{currentPage}}/{{totalPages}}    Items: {{totalProducts}}</pre>
          <div class="row justify-content-md-center">
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="loadPrev()">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#" (click)="doNothing()">{{currentPage}}</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="loadNext()">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-shopping-cart"></i> Cart
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody [hidden]="!cart?.length">
              <tr *ngFor="let cartItem of cart; index as i">
                <td>{{cartItem.product.ProductCode}}</td>
                <td>{{cartItem.product.ProductDescription}}</td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="cartItem.quantity">
                </td>
                <td>
                  <button type="button" class="btn btn-block btn-outline-danger" (click)="removeProductFromCart(i)">-</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <button type="button" class="btn btn-block btn-outline-success active" aria-pressed="true" (click)="confirmPurchase()">CONFIRM PURCHASE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>