<div class="animated fadeIn">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-4">
      <!-- Company Main Details -->
      <div class="card">
        <div class="card-header">
          Stock Movement Create
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group">
              <label for="MovementType">Movement Type</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-random"></i>
                  </span>
                </div>
                <input type="text" id="MovementType" name="MovementType" class="form-control" value="{{stockMov?.MovementType}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="DocumentID">Document ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input type="text" id="DocumentID" name="DocumentID" class="form-control" value="{{stockMov?.DocumentID}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="Line">Line</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-navicon"></i>
                  </span>
                </div>
                <input type="number" id="Line" name="Line" class="form-control" value="{{stockMov?.Line}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="ProductCode">Product Code</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-barcode"></i>
                  </span>
                </div>
                <input [(ngModel)]="stockMov.ProductCode" name="ProductCode" type="text" id="ProductCode" class="form-control" placeholder="Product Code">
              </div>
            </div>
            <div class="row align-items-end">
              <div class="form-group col-lg-3">
                <label for="Quantity">Quantity</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-plus-square-o"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="stockMov.Quantity" name="Quantity" type="number" id="Quantity" class="form-control" placeholder="Quantity">
                </div>
              </div>
              <div class="form-group col-lg-3">
                <label for="UnitOfMeasure">Unit of Measure</label>
                <select class="form-control" name ="UnitOfMeasure" id="UnitOfMeasure" [(ngModel)]="stockMov.UnitOfMeasure">
                  <option value="UNI">UNI</option>
                  <option value="Kg">Kg</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <label for="WharehouseID">Wharehouse ID</label>
                <select class="form-control" name ="WharehouseID" id="WharehouseID" [(ngModel)]="stockMov.WharehouseID">
                  <option value="1">1</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <label for="Dir">Direction</label>
                <select class="form-control" name ="Dir" id="Dir" [(ngModel)]="stockMov.Dir">
                  <option value="OUT">OUT</option>
                  <option value="IN">IN</option>
                </select>
              </div>
            </div>
            <div class="form-group form-actions text-center">
              <button type="submit" class="btn btn-lg btn-success" (click)="create()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
