<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <!-- Company Main Details -->
      <div class="card">
        <div class="card-header">
          <strong>Company Info</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="CompanyName">Company Name</label>
            <input type="text" class="form-control" id="CompanyName" [value]="companyInfo?.CompanyName" disabled>
          </div>
          <div class="form-group">
            <label for="BusinessName">Business Name</label>
            <input type="text" class="form-control" id="BusinessName" [value]="companyInfo?.BusinessName" disabled>
          </div>
          <div class="form-group">
            <label for="CompanyID">Company ID</label>
            <input type="text" class="form-control" id="CompanyID" [value]="companyInfo?.CompanyID" disabled>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="TaxRegistrationNumber">Tax Registration Number</label>
              <input type="text" class="form-control" id="TaxRegistrationNumber" [value]="companyInfo?.TaxRegistrationNumber" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="CurrencyCode">Currency Code</label>
              <input type="text" class="form-control" id="CurrencyCode" [value]="companyInfo?.CurrencyCode" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="TaxAccountingBasis">Tax Accounting Basis</label>
              <input type="text" class="form-control" id="TaxAccountingBasis" [value]="companyInfo?.TaxAccountingBasis" disabled>
            </div>
          </div>
        </div>
      </div>

      <!-- Company Address -->
      <div class="card">
        <div class="card-header">
          <strong>Company Address</strong>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="StreetName">Street Name</label>
            <input type="text" class="form-control" id="StreetName" [value]="companyInfo?.CompanyAddress.StreetName" disabled>
          </div>
          <div class="form-group">
            <label for="AddressDetail">Address Detail</label>
            <input type="text" class="form-control" id="AddressDetail" [value]="companyInfo?.CompanyAddress.AddressDetail" disabled>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="BuildingNumber">Building Number</label>
              <input type="text" class="form-control" id="BuildingNumber" [value]="companyInfo?.CompanyAddress.BuildingNumber" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="City">City</label>
              <input type="text" class="form-control" id="City" [value]="companyInfo?.CompanyAddress.City" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="Region">Region</label>
              <input type="text" class="form-control" id="Region" [value]="companyInfo?.CompanyAddress.Region" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="PostalCode">Postal Code</label>
            <input type="text" class="form-control" id="PostalCode" [value]="companyInfo?.CompanyAddress.PostalCode" disabled>
          </div>
          <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="Country" [value]="companyInfo?.CompanyAddress.Country" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>